{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Products Dashboard UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="asset/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <!-- Zone Gauche -->
    <div class="app-content">
        {% include "zone_gauche.html" %}
    </div>
    

    <div class="app-content">
        {% include "header.html" %}
    </div>
    {% include "header2.html" %}




    <!-- partial -->
<script src="{% static 'script.js' %}"> </script>
</body>
</html>

